{% extends '_templates/base.njk' %}

{% block page_title %}The Most Important Characters in the Bible{% endblock %}

{% block page_description %}The hdhfhhfhsdhhffhhffhsd.{% endblock %}

{% block content %}
<div class="container">
  <h1>The Most Important Characters in the Bible</h1>
  <p>This page takes a look at some of the most influential charcters in the Bible.</p>
  <h2>Library books loop</h2>
  <p>This loops through data that came from a Google Docs example.</p>
  <div class="row">
    {% for bibles in bible.Bible Characters %}
      <div class="col">
        <img src="img/{{ bibles.image }}" alt="Photo of {{ bibles.Name }}" class="img-fluid">
        <h3><a href="books/{{ bibles.slug }}.html">{{ bibles.Name }}</a></h3>
      </div>
    {% endfor %}
  </div>
  <h2>Bookstores loop</h2>
  <p>This loops through data that came from a Google Sheet example.</p>
  <hr>
  {% for store in bookstores.stores %}
    <h3><a href="{{ store.url }}" target="_blank">{{ store.name }}</a></h3>
    <p>{{ store.address}}, {{ store.city }}, {{ store.state }} {{ store.zip }}</p>
    <hr>
  {% endfor %}
</div>
{% endblock %}