{% extends '_templates/base.njk' %}

{% block page_title %}The Most Important Characters in the Bible{% endblock %}

{% block page_description %}Must-know figures.{% endblock %}

{% block content %}
<div class="container">
  <h1>The Most Important Characters in the Bible</h1>
  <p>This page takes a look at some of the most influential characters in the Bible.</p>
  <h2>New Testament</h2>
  <p>Below are three of the most noteworthy people in the history of Christianity.</p>
  <div class="row">
    {% for bibles in bible.Biblecharacters %}
      <div class="col">
        <img src="img/{{ bibles.image }}" alt="Photo of {{ bibles.Name }}" class="img-fluid">
        <h3><a href="bible/{{ bibles.slug }}.html">{{ bibles.Name }}</a></h3>
      </div>
    {% endfor %}
  </div>
  </div>
  {% endblock %}
